# Homework 3

#  Predicting correct answers in this dataset according to the best classsifier built

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [66]:
df=pd.read_csv('/Users/riyachanduka/Downloads/qb.train.csv')

In [67]:
df.head()

,row,body_score,page,answer,text,category,tournaments,answer_type,corr,inlinks
0,1,127.398036,Comus (John Milton),Comus (John Milton),First performed in Ludlow Castle by the childr...,Literature,2000 ACF Nationals,work,True,62
1,2,50.212336,Circe,Comus (John Milton),First performed in Ludlow Castle by the childr...,Literature,2000 ACF Nationals,None,False,5
2,3,44.767071,Satyr,Comus (John Milton),First performed in Ludlow Castle by the childr...,Literature,2000 ACF Nationals,None,False,6
3,4,44.058274,Philip K. Dick,Wilfred Owen,This author is convinced by another to publish...,Literature,2009 ACF Winter,people,False,22
4,5,40.675249,Honore de Balzac,Wilfred Owen,This author is convinced by another to publish...,Literature,2009 ACF Winter,None,False,0

In [70]:
import re
pattern = "^[0-9][0-9][0-9][0-9]"

for index, row in df.iterrows():
    temp = df['tournaments'].values[index]
    year = re.match(pattern, temp)
    df['tournament_year'].values[index] = year.group(0)

In [73]:
import re
for index,row in df.iterrows():
    length=df['text'].values[index]
    length=length.split()
    length=len(length)
    df['length'].values[index]=length

In [74]:
df.head()

,row,body_score,page,answer,text,category,tournaments,answer_type,corr,inlinks,tournament_year,length
0,1,127.398036,Comus (John Milton),Comus (John Milton),First performed in Ludlow Castle by the childr...,Literature,2000 ACF Nationals,work,True,62,2000,65
1,2,50.212336,Circe,Comus (John Milton),First performed in Ludlow Castle by the childr...,Literature,2000 ACF Nationals,None,False,5,2000,65
2,3,44.767071,Satyr,Comus (John Milton),First performed in Ludlow Castle by the childr...,Literature,2000 ACF Nationals,None,False,6,2000,65
3,4,44.058274,Philip K. Dick,Wilfred Owen,This author is convinced by another to publish...,Literature,2009 ACF Winter,people,False,22,2009,56
4,5,40.675249,Honore de Balzac,Wilfred Owen,This author is convinced by another to publish...,Literature,2009 ACF Winter,None,False,0,2009,56

In [75]:
X=df.iloc[:,[1,6,7,9,10,11]].values
#print(df.iloc[:,[1,6,7,9]])
y=df.iloc[:, 8].values

print(y)
# body page tour answertype

[ True False False ... False False  True]

In [76]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [77]:
label_encoder_1=LabelEncoder()
label_encoder_1.fit(X[:, 1])
X[:, 1]=label_encoder_1.transform(X[:, 1])#Convert categorical data to labels

label_encoder_2=LabelEncoder()
label_encoder_2.fit(X[:, 2])
X[:, 2]=label_encoder_2.transform(X[:, 2])

# label_encoder_4=LabelEncoder()
# label_encoder_4.fit(X[:, 4])
# X[:, 4]=label_encoder_4.transform(X[:, 4])

# label_encoder_3=LabelEncoder()
# label_encoder_3.fit(X[:, 3])
# X[:, 3]=label_encoder_3.transform(X[:, 3])

label_encoder_corr=LabelEncoder()
label_encoder_corr.fit(y)
y=label_encoder_corr.transform(y)

# #Convert the labels to categorical data
one_hot_encoder=OneHotEncoder(categorical_features=[1,2],sparse=False)
one_hot_encoder.fit(X)
X=one_hot_encoder.transform(X)
# #To remove Multi collinearity
# #delete first column of each categorical variable
X=np.delete(X,one_hot_encoder.feature_indices_[: -1],1)

### Downloading the test dataset

In [29]:
test=pd.read_csv('/Users/riyachanduka/Downloads/qb.test.csv')
#print(df.iloc[:,[1,6,7,9]])
test.head()

,row,body_score,page,text,category,tournaments,answer_type,inlinks
0,31,40.023617,Death in Venice,The protagonist of this novella is inspired to...,Literature,2001 ACF Fall,work,4
1,32,27.538799,The Eye of the World,The protagonist of this novella is inspired to...,Literature,2001 ACF Fall,work,1
2,33,26.976121,Carmilla,The protagonist of this novella is inspired to...,Literature,2001 ACF Fall,work,2
3,88,45.848831,A Passage to India,In a symbolic incident in this novel Ronny Hea...,Literature,2001 ACF Regionals,work,5
4,91,99.811169,The Cherry Orchard,"We first meet Fiers, the aging footman, in Act...",Literature,2001 ACF Regionals,work,11

In [32]:
import re
pattern = "^[0-9][0-9][0-9][0-9]"

for index, row in test.iterrows():
    temp = test['tournaments'].values[index]
    year = re.match(pattern, temp)
    test['tournament_year'] .values[index]= year.group(0)

In [35]:
import re
for index,row in test.iterrows():
    length=test['text'].values[index]
    length=length.split()
    length=len(length)
    test['length'].values[index]=length

In [36]:
test.head()

,row,body_score,page,text,category,tournaments,answer_type,inlinks,tournament_year,length
0,31,40.023617,Death in Venice,The protagonist of this novella is inspired to...,Literature,2001 ACF Fall,work,4,2001,45
1,32,27.538799,The Eye of the World,The protagonist of this novella is inspired to...,Literature,2001 ACF Fall,work,1,2001,45
2,33,26.976121,Carmilla,The protagonist of this novella is inspired to...,Literature,2001 ACF Fall,work,2,2001,45
3,88,45.848831,A Passage to India,In a symbolic incident in this novel Ronny Hea...,Literature,2001 ACF Regionals,work,5,2001,22
4,91,99.811169,The Cherry Orchard,"We first meet Fiers, the aging footman, in Act...",Literature,2001 ACF Regionals,work,11,2001,96

### Predicting the values for corr using the Decision Tree model created on training dataset

In [92]:
#=============================================================================
# Building SVM Model
# =============================================================================

from sklearn.svm import SVC
svm_class=SVC(kernel='rbf',random_state=0,probability=True)
svm_class.fit(X,y)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=True, random_state=0, shrinking=True, tol=0.001,
  verbose=False)

In [93]:
#Test dataset
features=test.iloc[:,[1,5,6,7,8,9]].values
#print(df.iloc[:,[1,6,7,9]])

In [94]:

features[:, 1]=label_encoder_1.transform(features[:, 1])#Convert categorical data to labels

features[:, 2]=label_encoder_2.transform(features[:, 2])


features=one_hot_encoder.transform(features)
# #To remove Multi collinearity
# #delete first column of each categorical variable
features=np.delete(features,one_hot_encoder.feature_indices_[: -1],1)

In [95]:
# =============================================================================
# Prediction using the SVM model
# =============================================================================

y_pred=svm_class.predict(features)
y_pred_prob=svm_class.predict_proba(features)[:,1]

Checking that features are equal for training and test dataset

In [96]:
X.shape

(8079, 87)

In [97]:
features.shape

(887, 87)

### Creating a final dataframe containing the predicted column

In [98]:
final_df=pd.DataFrame(data=y_pred)

In [99]:
final_df.shape

(887, 1)

In [100]:
final_df['row']=test['row']

In [101]:
final_df.head()

   0  row
0  0   31
1  1   32
2  1   33
3  1   88
4  1   91

In [102]:
final_df.columns=['corr','row']

In [103]:
final_df.head()

   corr  row
0     0   31
1     1   32
2     1   33
3     1   88
4     1   91

In [105]:
final_df.to_csv('predictions_corr.csv',encoding='utf-8',index=False)

### Error Analysis

In [3]:
guess=pd.read_csv('/Users/riyachanduka/Downloads/qb.guess.csv')

In [10]:
guess.head()

   row   corr
0   31  False
1   32  False
2   33  False
3   88  False
4   91  False

In [5]:
pred_out=pd.read_csv('/Users/riyachanduka/Documents/predictions_corr.csv')

In [9]:
pred_out.head()

   row   corr
0   31  False
1   32   True
2   33   True
3   88   True
4   91   True

In [25]:
for index,row in test.iterrows():
    if test['row'].values[index] in(31,32,33,88,91):
        
        print(test['text'].values[index])
        print(test['body_score'].values[index])
        print(test['tournaments'].values[index])
        print(test['answer_type'].values[index])
        print(test['inlinks'].values[index])
        print(test['tournament_year'].values[index])
        print(test['length'].values[index])

The protagonist of this novella is inspired to travel by the sight of a man standing before a mortuary chapel, while symbolically important is his encounter with an old man who has joined a group of young clerks by donning a wig and false teeth.
40.023616751300004
2001 ACF Fall
work
4
2009
45
The protagonist of this novella is inspired to travel by the sight of a man standing before a mortuary chapel, while symbolically important is his encounter with an old man who has joined a group of young clerks by donning a wig and false teeth.
27.5387991702
2001 ACF Fall
work
1
2009
45
The protagonist of this novella is inspired to travel by the sight of a man standing before a mortuary chapel, while symbolically important is his encounter with an old man who has joined a group of young clerks by donning a wig and false teeth.
26.976121095
2001 ACF Fall
work
2
2009
45
In a symbolic incident in this novel Ronny Heaslop and his friend are unsuccessful in their attempts to organize a bridge game.
45.8488311908
2001 ACF Regionals
work
5
2009
22
We first meet Fiers, the aging footman, in Act I and learn that he is to be replaced by Yasha.	Other minor characters include Charlotta, a governess, and Gaev, the brother of the central female.	Near the end of the play, one character rejoices in his new possession exclaiming, "If my father and grandfather could see me now - me, their ignorant Yermolay, almost illiterate.	"  Lubov Andreyevna, aka Madame Ranevsky, faints when she is forced to part with the dearest reminder of her dead son to Lopakhin, a former family friend and newly wealthy man.
99.8111686167
2001 ACF Regionals
work
11
2009
96

### The above rows are some of the rows whose values have been predicted incorrectly

In [24]:
test.head()

,row,body_score,page,text,category,tournaments,answer_type,inlinks,tournament_year,length
0,31,40.023617,Death in Venice,The protagonist of this novella is inspired to...,Literature,2001 ACF Fall,work,4,2009,45
1,32,27.538799,The Eye of the World,The protagonist of this novella is inspired to...,Literature,2001 ACF Fall,work,1,2009,45
2,33,26.976121,Carmilla,The protagonist of this novella is inspired to...,Literature,2001 ACF Fall,work,2,2009,45
3,88,45.848831,A Passage to India,In a symbolic incident in this novel Ronny Hea...,Literature,2001 ACF Regionals,work,5,2009,22
4,91,99.811169,The Cherry Orchard,"We first meet Fiers, the aging footman, in Act...",Literature,2001 ACF Regionals,work,11,2009,96